
/buildToolsRedirect.pl
/*data.xml
/hdlmsettings.xml
/hwBuildToolsCleanup.sh
/hwToolsRedirSetupEnv.sh
/modelsim/
/objects/
/scripts/
/setupEnv.sh
/transcript
/singlesettings.xml
/xilinxlibs.tcl
/modelsim.ini
/modelsim.ini.bak
/.cxl.modelsim.version
/compile_simlib.log.bak
client.mak
*.xml
/Pkg*.vhd
/X4XX_ZR_CPLD*.htm
NiSimJUnit.xml

!vsmake*.xml
